/* style.css */
body {
    background-image: url('1.jpg'); /* เปลี่ยนเป็นชื่อไฟล์ของคุณ */
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #003366;
    text-align: center;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #007bff;
    color: white;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.hero {
    padding: 100px 20px;
    color: rgb(34, 43, 124);
}


.hero h1 {
    font-size: 48px;
    margin-bottom: 10px;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #00aaff;
    color: white;
    text-decoration: none;
    font-size: 20px;
    border-radius: 5px;
    margin-top: 20px;
    transition: background 0.3s;
}

.btn:hover {
    background-color: #0077cc;
}

.services, .contact {
    padding: 50px;
}

.service-list {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.service-item {
    background-color: #0056b3;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 200px;
}